

<div class="mb-3">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    Create a room
  <% end %>
</div>

<div class="mb-3">
  <p>Salas Públicas</p>
</div>
<% if @rooms.present? %>
  <nav class="nav flex-column">
    <% @rooms.each do |room| %>
      <%if room.dm == false%>
        <%= link_to room.name, room_path(room), class: 'nav-link room-nav-link' %>
      <% end %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    Não há salas.
  </div>
<% end %>
<div class="my-3">
  <p>Salas Privadas</p>
</div>
<% if @rooms.present? %>
  <% i = 0 %>
  <nav class="nav flex-column">
    <% @rooms.each do |room| %>
      <%if room.dm == true%>
        <%if room.user_id == current_user.id %>
            <%= link_to @destinatario[i].username, room_path(room), class: 'nav-link room-nav-link' %>
        <% end %>
        <%if room.to == current_user.id %>
            <%= link_to @remetente[i].username, room_path(room), class: 'nav-link room-nav-link' %>
        <% end %>
        <%i = i + 1 %>
      <% end %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    Não há salas.
  </div>
<% end %>
