<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Bem vindo ao ChitChat! 
      </h4>

      <p>
        Precisamos conversar.
      </p>

      <hr />

      <p>
        Você pode criar ou se juntar a salas a esquerda. 
      </p>
    </div>
  </div>
</div>